<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>消息广场</title>
    <!--  生产环境  -->
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="lib/layui/layui.js"></script>
    <link rel="stylesheet" href="lib/layui/css/layui.css">
    <link rel="stylesheet" href="css/common.css">
</head>

<!-- 页眉 -->
<header th:replace="included/header::header-fragment"></header>

<!-- 页面主体 -->
<body class="common-bg">
<div id="padding-header">

    <!-- 公告栏 -->
    <blockquote class="layui-elem-quote layui-text" style="margin-top: 15px;">
        <p><b>消息广场：</b></p>
        <hr>
        <p style="text-indent:2em;">基础：普通论坛，发贴，评论，回复；</p>
        <p style="text-indent:2em;">完全版_1：知乎前端；</p>
        <p style="text-indent:2em;">完全版_2：ToDo；</p>
    </blockquote>

    <div style="text-align: center;">
        <img src="images/hall_demo.png" alt="Pulpit rock" width="40%" height="40%">
    </div>

</div>
</body>
</html>