<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>迷你部落-注册页面</title>
    <!--  生产环境  -->
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="lib/layui/layui.js"></script>
    <link rel="stylesheet" href="lib/layui/css/layui.css">
    <!--  CSS样式  -->
    <link href="css/login.css" rel="stylesheet">
    <link href="css/xadmin.css" rel="stylesheet">
</head>

<!-- 页眉 -->
<header th:replace="included/header::header-fragment"></header>

<!-- 页面主体 -->
<body class="login-bg">

<!-- 注册框 -->
<div class="login layui-anim layui-anim-up">

    <div class="message">迷你部落-注册界面</div>
    <div id="darkbannerwrap"></div>

    <form id="registerArea" method="post" class="layui-form" >
        <input name="username" v-model="user.account" placeholder="账号" type="text" class="layui-input" >
        <hr class="hr15">
        <input name="password" v-model="user.password" placeholder="密码" type="password" class="layui-input">
        <hr class="hr15">
        <input name="password" v-model="user.passwordConfirmed" placeholder="确认密码" type="password" class="layui-input">
        <hr class="hr15">
        <input id = "register_button" value="注册" style="width:100%;" type="button" @click="register">
        <hr class="hr20" >
        <span class = "result_register">  </span>
    </form>
</div>

<script>
    $(function  () {
        new Vue({
            el: '#registerArea',
            data: {
                result: [],
                user: { account: '', password: '', passwordConfirmed: ''},
            },

            methods: {
                register:function(){
                    if(0==this.user.account.length){
                        $("span.result_register").html("请输入用户名");
                        return;
                    }
                    if(this.user.account.length>20){
                        $("span.result_register").html("超出账号长度限制");
                        return;
                    }
                    if(0==this.user.password.length){
                        $("span.result_register").html("请输入密码");
                        return;
                    }
                    if(this.user.password.length>20){
                        $("span.result_register").html("超出密码长度限制");
                        return;
                    }
                    if (this.user.password != this.user.passwordConfirmed) {
                        $("span.result_register").html("两次输入的密码不一致，请修改");
                        return;
                    }

                    let url =  "register";
                    axios.post(url,this.user).then(function(response) {
                        this.result = response.data;
                        if(result.code==1){
                            // 注册成功后，直接登录(在后端利用session实现)；
                            $("#register_button").attr("disabled",true);
                            let timeLeft = 3;
                            let timer = window.setInterval(runTimer,1000);
                            function runTimer() {
                                $('span.result_register').html("注册成功，" + "自动登录，" + timeLeft +"秒后转跳至主页");
                                timeLeft--;
                                if (timeLeft == -1) {
                                    stopTimer();
                                }
                                function stopTimer() {
                                    clearInterval(timer);
                                    goToHome();
                                }

                                function goToHome() {
                                    location.href="home";
                                }
                            }
                        }
                        else{
                            $('span.result_register').html(result.message);
                        }
                    });

                },

            }
        })
    })
</script>



</body>
</html>